<!-- include header -->
<%- include('include/_login') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">

            <!-- add user form -->
            <%- include('include/_login') %>

        </div>
    </main>
    <!-- /Main Site -->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->