<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <script>
        function logout() {
            console.log('inside logou func');
            fetch('/auth/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    console.log('inside onclick');
                    // Handle the response from the server
                    if (response.ok) {
                        console.log('response ok');

                        // Redirect or perform any other action after successful logout
                        window.location.href = '/'; // Replace with your actual redirect route
                    } else {
                        // Handle error response
                        console.log('Logout request failed');
                    }
                })
                .catch(error => {
                    // Handle network or fetch error
                    console.log('Logout request failed:', error);
                });
        }
    </script>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                </a>
                <!-- <a href="/login-page" class="border-shadow">
                <span class="text-gradient">Login <i class="fas fa-user"></i></span>
            </a> -->
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </form>
            <div class="form-group">
                <button type="Logout" class="logout" onclick="logout()">Logout</button>
            </div>

        </div>
    </main>
    <!-- /Main Site -->


    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->